<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><Mappings><Mapping-Name>[source path] CaptioningPlugin</Mapping-Name><Location>/Users/jccrosby/Documents/_projects/osmf/sprint9-stable-20100402/plugins/CaptioningPlugin</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>